@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*@foreach (var s in Model.Stations)
{
    <p>
        @s.Id (@s.Name)<br />
        @foreach (var v in s.StationValues.Where(v => v.Parameter == "TTT").GroupBy(v => v.ForecastDate).Where(g => g.Count() == 24))
        {
            <span>@v.Key.ToString("ddd, dd.MM."): @(v.Average(x=>x.Value)?.ToString("0.0") ?? "N/A")</span>
        }
    </p>

}*@
