@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var values = Model.Station.Values.GroupBy(v => v.ForecastDate);
}

<h4>Vorhersage für die Station @Model.Station.Name (@Model.Station.Id)</h4>
<table>
    <thead>
        <tr>
            <th>Param.</th>
            @foreach (var v in values)
            {
                <th>@v.Key.ToString(@"dd\. HH\Z")</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TTT</td>
            @foreach (var v in values)
            {
                <td>@v.Where(v=>v.Parameter == "TTT").Select(v=>v.Value).FirstOrDefault()?.ToString("0.0")</td>
            }
        </tr>
    </tbody>
</table>

